.footer-container {
    background-color: #2c2c2c;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .author-info {
    font-size: 16px;
    margin-right: 20px;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
  }
  
  .footer-right {
    width: 48%;
  }
  
  .footer-map {
    height: 300px;
    margin-bottom: 20px;
  }
  
  .contact-form {
    margin-bottom: 20px;
  }
  
  .contact-form h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .contact-form form input,
  .contact-form form textarea {
   
    width: 100%;
    padding: 10px;

    font-size: 16px;
    border: none;
    border-radius: 0;

  }
  